<style type="text/css">
<!--
#QandA-1 {
	width: 100%;
	font-family: メイリオ;
	font-size: 14px; /*全体のフォントサイズ*/
}
#QandA-1 h2 {
margin:40px 0px 0px 0px;
text-align:center;
font-size:30px;
}
#QandA-1 dt {
	background: #444; /* 「Q」タイトルの背景色 */
	color: #fff; /* 「Q」タイトルの文字色 */
	padding: 8px;
	border-radius: 2px;
}
#QandA-1 dt:before {
	content: "Q.";
	font-weight: bold;
	margin-right: 8px;
}
#QandA-1 dd {
	margin: 24px 16px 40px 32px;
	line-height: 140%;
	text-indent: -24px;
}
#QandA-1 dd:before {
	content: "A.";
	font-weight: bold;
	margin-right: 8px;
}

-->
</style>

<div id="QandA-1">
    <h2>よくあるご質問</h2>
    <dl>
        <dt>生命保険には必ず加入した方がいいの？</dt>
        <dd>生命保険の場合、保障内容によって保険料が大きく変わってきますので、自分にあった最低限の保険に加入するというのでも良いと思います。高いから入らないというのはあまりに無責任な気がします。</dd>
        <dt>生命保険に入れない職業は？</dt>
        <dd>生命保険は基本的に健康な人しか加入することができません。これは、病気の人ばかり加入してしまっては保険会社が破綻してしまうという事が挙げられますが、加入者の平等性という事も大きな理由の一つです。
            死亡率が低い人と高い人の保険料が同じというのは平等性に欠けると言えます。そういった意味で、加入に際し医師の診察や告知が必要になるのですが、告知は健康状態だけではなく職業も含まれています。
            生命保険や医療保険に加入する際に、制限が設けられる可能性がある職業の例としては、 「スタントマン、競馬・競輪・オートレース・競艇選手、プロスポーツ選手、警察官、消防署員、自衛官、船舶乗務員、タクシーやトラック運転手」があります。</dd>
        <dt>生命保険は若いうちに入るほうが得なの？</dt>
        <dd>若いうちに保険に入ることの一番のメリットは、病気になってからでは保険に入れないという事が挙げられます。
            基本的に生命保険は健康体でないと加入することができません。保険会社としては保険金を支払う可能性が低い人に加入してもらいたいわけです。病気になってから保険に加入しようとしても診査に通ることは難しいでしょう。病気を偽って入る事は告知義務違反になります。
            過去に大病を患っている場合、既に完治していても生命保険に加入できない可能性があります。独身時代は保険のことなんて考えない人がほとんどだと思いますが、結婚して子供が生まれたのに保険に加入できなくて困っているケースも珍しくありません。
            もう一つ若いうちに保険に加入するメリットは、終身保険などで積み立てられる保険料の大きさにあります。終身保険というのは基本的に、過去に自分で支払った保険料が後でまとめて保険金や返戻金として支払われるような形になります。
            若いうちから終身保険に加入していた場合、支払った保険料のうち死亡保障ではなく積立の部分に回される部分が大きくなります。若いうちから長期間積み立てておくことで、そのぶん解約返戻金も大きくなります。</dd>
    </dl>
</div>